<div id="landing-section" class="section">
  <div class="container section-container">
    <h1>ScrollSite</h1>
    <p>ScrollSite is a rails application to be used as a base template for single view scrollable navigation websites.</p> 
  </div>
</div>
<div class="section section-alternate">
  <div class="container section-container">
  </div>
</div>

