<div id="landing-section" class="section">
  <div class="container section-container">
    <h1>ScrollSite</h1>
    <p>ScrollSite is a rails application to be used as a base template for single view scrollable navigation websites.</p> 
    <div class="landing-button-wrapper">
      <%= link_to 'Get started', '#', :class => "button button-md" %>
    </div>
    <div class="social-media-icon-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag("social/facebook", :class => "img-responsive") %>
          </div>
          <div class="col-xs-4">
            <%= image_tag("social/github", :class => "img-responsive") %>
          </div>
          <div class="col-xs-4">
            <%= image_tag("social/linkedin", :class => "img-responsive") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-alternate">
  <div class="container section-container">
  </div>
</div>

