/*Import twitter bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";

$white: #FFF;
$black: #222;
.section{
  height: 100vh;
  color: $black;
  background-color: $white;
  padding: 30px 20px;
  font-family: 'Oxygen', sans-serif;
}
.section-alternate{
  background-color: $black;
  color: $white;
}
.section-container{
  height: 100%;
  text-align: center;
}


#landing-section{
  padding-top: 120px;
  text-align: center;

  h1{
    font-size: 4em;
  }

  p{
    font-size: 1.1em;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.landing-button-wrapper{
  margin-top: 100px;
  margin-bottom: 20px;
}

.social-media-icon-bar{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 90%;
}

